 body{
    
    background-color: white;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}

.container{
    width: 50%;
}
.top{
    background-color: white;

}
.middle{
    background-color :hsl(96, 65%, 26%);
}
.why{
    background-color :hsl(179, 62%, 43%);
}

.base{
    display: flex;
    
}
.botton{
    background-color: hsl(71, 73%, 54%);
}

.why,.middle {
   width: 50%;
}

/* media query */

@media(min-width:600px){
    .base{
        flex-direction: row;   
    }
    .why,.middle{
        width: 100%;
    }
    .container{
        width: 90%;
    }
}

@media(min-width:601px) and (max-width:1245px){
    .container{
        width: 60%;
    }

    .base{
        flex-direction: column;
    }
}